# Django Base Config
SECRET_KEY=change_me_in_production
DEBUG=True

# Database (Supabase PostgreSQL URL)
# Usar connection string (Transaction mode: puerto 6543 en Supabase, Session mode port: 5432)
# DATABASE_URL=postgres://usuario:password@dominio.supabase.com:5432/postgres

# Supabase Cliente
SUPABASE_URL=https://[YOUR_PROJECT_ID].supabase.co
SUPABASE_KEY=[YOUR_ANON_KEY]
