{% extends 'base.html' %}

{% block title_header %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="callout callout-info badge-light shadow-sm" style="border-left-color: #161065;">
            <h5><i class="fas fa-hammer mr-2"></i>Submódulo en Configuración</h5>
            <p>Bienvenido al área de <strong>{{ page_title }}</strong> dentro de la Gestión de Riesgo de Crédito. Aquí se registrarán e integrarán de forma granular los componentes solicitados en la plataforma.</p>
        </div>
    </div>
</div>
{% endblock %}
